



*, *:before, *:after {
	box-sizing: border-box;
}
:root {
    --Principal: #e73c2c;
    --Blanco: #ffffff;
    --Negro: #0a0a0a;
    --Gris: #b5b5b5;
}

body {
    
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
    margin: 0;
    gap: 70px;

    
	
}

/* este es el codigo del nav bar */

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--Blanco);
    position: sticky;
    top: 0;
    z-index: 200;
    border-radius: 15px;
    margin-top: -40px;
    z-index: 100000;
}
.logo{
    width: 85px;
    height: 85px;
}

.landigPage {
    width: 100%;
    height: 700px;
    z-index: 1000;
}

.serchIcon{
    width: 25px;
    height: 25px;
    top: 0;
    left: 99px;
    object-fit: cover;
}
.elementosDeNavegacion{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    flex-direction: column;
    gap: 20px;
}
.letrasNavegacion{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: var(--Negro);
    text-decoration: none;

    align-items: center;
    text-decoration: none;
    color:var(--Negro);
    transition-duration: 0.7s;
    font-size: 1rem;
    transition: all 300ms;
} 

.listaNavegacion{
    display: flex;
    gap: 150px;
}
.navegaconIzquierda{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 20px;
    
}



.letrasNavegacion:hover{
    background-color: var(--Gris);
    transition-duration: 0.9s;
    border-radius: 8px;
    transform: scale(1.15);
}


.acercaDe{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--Negro);
    text-decoration: none;
}






.contenedorDelTextoDeLaLandingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    padding-top: 10px;
    z-index: 1000;
}

.textoDeLaLandingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.descripcion{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--Blanco);
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 53px;
    margin-left: 50px;
}
.repuestos{
    font-family: "Poppins", sans-serif;
    font-weight: 21000;
    color: var(--Blanco);
    font-size: 100px;
    margin: 0;
    margin-bottom: -50px;

}
.mundial{
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    color: var(--Blanco);
    font-size: 80px;
    margin: 0;
    margin-bottom: -50px;
}
.ltda{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--Blanco);
    font-size: 70px;
    margin: 0;

}

.botonNosotros{
    text-decoration: none;
    position:relative;
    padding:10px 20px;
    background: var(--Blanco);
    color: var(--Negro);
    font-size:28px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    transition:all 1s;
&:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid var(--Blanco);
    transition:all 1s;
}
&:after{
    top:-1px;
    left:-1px;
    border-top:5px solid var(--Negro);
    border-left:5px solid var(--Negro);
}
&:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid var(--Negro);
    border-right:5px solid var(--Negro);
}
&:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background:rgba(0,0,0,.5);
    color: var(--Blanco);
&:before,&:after{
    
    width:100%;
    height:100%;
    border-color: var(--Blanco);
}}
}

.logoPrincipal{
    width: 670px;
}







@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #377fdd 5%,  #5e03d4 5% , #fa3726 15%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}



/* footer */


.barra-redes {
	left: -35px; /* Sirve para que la bara quede en la izquierda */
	position: fixed; /* Sirve para que quede fijo osea pegajoso*/
	top: 25%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.ul {
	list-style: none;
}

.links {
	background-color: var(--Blanco);
	color: var(--Blanco);
	display: inline-block;
	height: calc(100px - 40px);
	line-height: calc(100px - 80px);
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms ease;
	width: calc(100px - 40px);
	/* Establecemos una transición a todas las propiedades */
   
}

.links:hover {
	background-color: rgba(0, 0, 0, 0.6); /* Cambiamos el fondo cuando se hace hover */
	padding: 20px 60px; /* Hacemos mas grande el espacio cuando se hace hover */
}

/* Establecemos los colores de cada red social, aprovechando su clase */
.fa-facebook {
	background-color: var(--Principal);
} 
.fa-facebook:hover {
	background-color: #0866FB;
} 


.fa-twitter {
	background-color: var(--Principal);
}
.fa-twitter:hover {
	background-color: #0F1419;
}


.fa-instagram {
	background-color: var(--Principal);
}
.fa-instagram:hover {
	background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-google {
	background-color: var(--Principal);
}
.fa-google:hover {
    background-image: conic-gradient(from -20deg at 38% 59%, #DB4437 0deg, #DB4437 90deg, #4285F4 90deg, #4285F4 180deg, #0F9D58 180deg, #0F9D58 270deg, #F4B400 270deg, #F4B400 360deg);
}

.fa-envelope {
	background-color: var(--Principal);
}

.fa-envelope:hover {
	background-color: tomato;
}
















.video-content {
    padding-top: 80px;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    color: red;
    background-color: white;
  }
  
  .video-title {
    font-size: 35px;
    
  }
  
  .video-subtitle {
    margin-top: -10px;
    color: #d3d3d3;
    margin-bottom: 20px;
  }
  
  iframe {
     height: 50vw;
      width: 91vw;
  }
  
  .three-dots {
    text-align: center;
  }
  
  .three-dots span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    display: inline-block;
    margin: 30px 5px;
  }
  
  .content {
    padding: 10px 38px 10px 38px;
    background: white;
  }
  
  .inner-content {
    padding-top: 50px;
  }
  
  .inner-content-text {
    padding-right: .78125rem;
    padding-left: .78125rem;
    padding-bottom: 40px;
  }
  
  .inter-content-subtitle {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    font-family: "Poppins", sans-serif;
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .10938rem;
    color: #828282;
  }
  
  .inter-content-subtitle::before {
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      width: 25px;
      height: 5px;
      content: "";
      background-color: red;
      opacity: 0.7;
  }
  
  .inner-content-title {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 2.125rem;
    font-weight: 700;
    color: red;
  }
  
  .inner-content-para {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: .04375rem;
    font-style: normal;
    font-weight: 400;
    color: #4c4c4c;
  }
  
  .inner-image-container {
    position: relative;
    padding-right: .78125rem;
    padding-left: .78125rem;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
  
  
  .inner-content-image {
    position: relative;
    height: 350px;
  }
  
  .section-images {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pricing-container {
    padding: 150px 38px 10px 38px;
    background: white;
    display: flex;
    flex-direction: column;
  }
  
  .pricing-title {
    margin-bottom: 50px;
    font-size: 23px;
    color: black;
    align-self: center;
    
  }
  
  .pricing-title > h2 {
    font-weight: 600;
    
  }
  
  .flex-container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    padding: 1em;
    
  }
  
  .flex-item {
    flex: 1;
    width: 250px;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 8px;
  }
  
  .flex-item:not(:last-child) {
    margin-right: 2em;
  }
  
  .package {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    
  }
  
  .package:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
  }
  
  .package .header {
    color: black;
    border-bottom: 5px red solid;
    font-size: 1.6em;
    font-weight: 600;
  }
  
  .package li {
    color: rgba(55, 53, 47, 0.6);
    background-color: #fff;
    padding: 1.2em;
  }
  
  li.features:before {
    content: '✓';
    padding-right: 5px;
  }
  
  li.features {
    text-align: left;
    padding: 10px;
  }
  
  li.first-feat {
    margin-top: 30px;

  }
  
  .package .gray {
    background-color: #f7f7f7;
    color: black;
    font-weight: 600;
    font-size: 40px;
    padding: .8em;
    line-height: 80%;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-image: url(../img/phone.svg);
    height: 200px;
   
  }

  .gray1 {
    background-color: #f7f7f7;
    color: black;
    font-weight: 600;
    font-size: 40px;
    padding: .8em;
    line-height: 80%;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-image: url(../img/candidato.svg);
    height: 200px;
   
  }
  .gray2 {
    background-color: #f7f7f7;
    color: black;
    font-weight: 600;
    font-size: 40px;
    padding: .8em;
    line-height: 80%;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-image: url(../img/empresa.svg);
    height: 200px;
   
  }
  
  
  
  .pricing-button {
    background-color: white;
    border: 1px solid red;
    border-radius: 2em;
    color: red;
    cursor: pointer;
    padding: .75em 1.5em;
    font-size: 1em;
  }
  
  .subscribe-container {
    padding-top: 80px;
    padding-bottom: 80px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #form {
    display: flex;
    flex-direction: row;
  }
  
  #email {
    width: 250px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid red;
    text-decoration: none;
  }
  
  #submit {
    width: 100px;
    height: 40px;
    border: none;
    background: red;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 0 5px 5px 0;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  
  input[type="email"] {
    padding-left: 10px;
  }
  
  .hero-newsletter {
    margin-bottom: 20px;
  }
  
  
  
  @media only screen and (max-width: 984px) {
    .flex-container {
      flex-wrap: wrap;
    }
  
    .flex-item {
      flex: 0 0 100%;
      margin-bottom: 1em;
      width: 100%;
    }
  
    .package:hover {
      box-shadow: none;
      transform: none;
    }
  
    .pricing-button {
      padding: .75em 1.5em;
    }
  }
  
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  @media screen and (min-width: 820px) {
    .container {
      max-width: 80vw;
    }
    
    .menu-container {
      max-width: 100vw;
    }
    
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-flow: wrap;
    }
    
    #header {
      background: white;
    }
    
    #header-img {
      margin-left: -100px;
    }
    
    .menu {
    margin-top: 20px;
    }
    
    nav {
      margin-right: -100px;
    }
    
    nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
    
    nav ul li {
      float: left;
      list-style: none;
      padding: 0.5em 1em;
    }
    nav ul li a {
      font-size: 1em;
      text-decoration: none;
      color: #333;
      padding: 0;
    }
    
    a.highlight {
      font-size: 1em;
      text-decoration: none;
      color: #333;
      padding: 0.5em 1em;
    }
    
    #header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    #header .menu-icon {
      display: none;
    }
    
    .highlight {
      border: 1px solid #333;
      border-radius: 50px;
    }
    
    .highlight:hover,.special:hover {
      background: black;
      color: white;
      border-bottom: none;
    }
    
    main {
      flex-flow: row;
    }
    
    .hero {
      margin-top: 150px;
      text-align: left;
    }
    
    .hero h1 {
      font-size: 4em;
      line-height: 55px;
    }
    
    .hero p {
      font-size: 1.3em;
      margin: 0.5em 0 1em 0;
      padding: 0;
    }
    
    figure svg {
      width: 500px;
      margin: 0;
    }
    
    iframe {
     height: 30vw;
      width: 55vw;
  }
    
    .content {
    padding: 0 68px 0 68px;
    background: white;
  }
  
    .container__ImageRight {
      order: 2;
      margin-left: 8.33333%;
    }
    
    .content__ImageRight {
      left: 0;
    }
    
    .container__ImageLeft {
      order: 1;
    }
    
    .content__ImageLeft {
      right: 0;
    }
    
    .content__TextLeft {
      order: 1;
    }
    
    .content__TextRight {
      margin-left: 8.33333%;
      order: 2;
    }
  
  .inner-content {
    max-width: 80vw;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
  }
  
  .inner-content-text {
    padding-right: .9375rem;
    padding-left: .9375rem;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: flex;
    min-height: 550px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
  }
  
  .inner-content-title {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 2.125rem;
    font-weight: 700;
    color: red;
  }
  
  .inner-content-para {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: .04375rem;
    font-style: normal;
    font-weight: 400;
    color: #4c4c4c;
  }
  
  .inner-image-container {
    position: relative;
    padding-right: .78125rem;
    padding-left: .78125rem;
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
  }
  
  
  .inner-content-image {
    position: absolute;
    top: 0;
    width: calc(100% - 12.5px);
    height: 100%;
  }
  
  .section-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  }
  
  
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    h1 {
      font-size: 24px;
    }
  }

  svg {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

  }